.App {
    text-align: center;
}

input,
button {
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

input {
    background-color: ghostwhite;
}
button {
    background-color: teal;
    color: white;
    cursor: pointer;
}
li {
    list-style: none;
    text-align: left;
}

.loading {
    width: 100%;
    text-align: center;
}
.loading img {
    width: 50%;
}

.titles{
    display: flex;
    justify-content: space-around;
    background-color: teal;
}
.titles *{
    color: white;
}